#outerDiv {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: #888888 3px solid;
  box-shadow: 5px 5px 5px #888888;
  background-color: white;
}

#titleDiv{
  display: flex;
  align-items: center;
}

#imgDiv {
  display: flex;
  align-items: center;  
  margin-right: .7rem;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.title {
  color: rgb(93, 91, 91);
  font-size: 2.7rem;
  margin: 0px;
  font-weight: 400;
}
